<aside class="bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="/dashboard" title="dashboard">
                    <span data-feather="home"></span>
                    <span class="text-title">Dashboard</span>
                    <span class="sr-only">Page de recherche etudiant</span>

                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/examens" title="examens">
                    <span data-feather="layers"></span>
                    <span class="text-title">Examens</span>
                    <span class="sr-only">Accès à la liste des examens</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/etudiants" title="etudiants">
                    <span data-feather="user"></span>
                    <span class="text-title">Étudiants</span>
                    <span class="sr-only">Liste des étudiants</span>

                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/matieres" title="matiers">
                    <span data-feather="bar-chart-2"></span>
                    <span class="text-title">Matières</span>
                    <span class="sr-only">Liste des matières</span>
                </a>
            </li>
        </ul>
        <hr>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="/admin/utilisateurs" title="utilisateurs">
                    <span data-feather="users"></span>
                    <span class="text-title">Utilisateurs</span>
                    <span class="sr-only">Page des utilisateurs</span>
                </a>
            </li>
        </ul>
    </div>
</aside>